.information{
    position: absolute;
    width: 1173px;
    height: 559px;
    left: 220px;
    top: 50px;
}

.tenTable{
    position: absolute;
    width: 1054.28px;
    height: 323px;
    top: -494px;
}

